{
  "root": true,
  "parser": "vue-eslint-parser",
  "parserOptions": {
      "parser": "@typescript-eslint/parser"
  },
  "env": {
    "browser": true,
    "node": true,
    "es2021": true
  },
  "extends": [
    "@feature-sliced",
    "plugin:vue/strongly-recommended",
    "eslint:recommended",
    "@vue/typescript/recommended",
    "prettier"
  ],
  "plugins": ["@typescript-eslint", "prettier"],
  "rules": {
    "no-console": "warn",
    "vue/multi-word-component-names": "off",
     "vue/no-multiple-template-root": "off",
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": ["warn", { "argsIgnorePattern": "^_", "varsIgnorePattern": "^_" }]

  }
}