{
  "trailingComma": "es5",
  "singleQuote": true,
  "printWidth": 120,
  "arrowParens": "always",
  "bracketSpacing": true,
  "bracketSameLine": true,
  "bracketLine": false,
  "embeddedLanguageFormatting": "auto",
  "endOfLine": "lf",
  "insertPragma": false,
  "proseWrap": "preserve",
  "requirePragma": false,
  "semi": true,
  "tabWidth": 2,
  "useTabs": false,
  "quoteProps": "consistent",
  "htmlWhitespaceSensitivity": "css",
  "jsxSingleQuote": false,
  "vueIndentScriptAndStyle": false
}